---
Checks: '*,-cert-err58-cpp,-cppcoreguidelines-avoid-magic-numbers,-cppcoreguidelines-avoid-non-const-global-variables,-cppcoreguidelines-pro-bounds-array-to-pointer-decay,-cppcoreguidelines-pro-bounds-pointer-arithmetic,-cppcoreguidelines-pro-type-static-cast-downcast,-fuchsia-*,-hicpp-no-array-decay,-llvmlibc-*,-modernize-use-trailing-return-type,-readability-implicit-bool-cast,-readability-implicit-bool-conversion,-readability-magic-numbers'
#
#  For a list of check options, see:
#  https://clang.llvm.org/extra/clang-tidy/checks/list.html
#
#  Disabled checks:
#
#  cert-err58-cpp
#    Very theoretical problem.
#
#  cppcoreguidelines-avoid-magic-numbers,readability-magic-numbers
#    Sometimes needed.
#
#  cppcoreguidelines-avoid-non-const-global-variables
#    Generally a good idea but not a problem for these small programs.
#
#  cppcoreguidelines-pro-bounds-array-to-pointer-decay
#    Limited use and many false positives including for all asserts.
#
#  cppcoreguidelines-pro-bounds-pointer-arithmetic
#    When you need it, you need it.
#
#  cppcoreguidelines-pro-type-static-cast-downcast
#    This is needed and totally okay if we are sure about the types.
#
#  fuchsia-*
#    Much too strict.
#
#  hicpp-no-array-decay
#    Alias for cppcoreguidelines-pro-bounds-array-to-pointer-decay.
#
#  llvmlibc-*
#    Not applicable.
#
#  modernize-use-trailing-return-type
#    We are not that modern.
#
#  readability-implicit-bool-cast
#    Old name for readability-implicit-bool-conversion.
#
#  readability-implicit-bool-conversion
#    I don't think this makes the code more readable.
#
#WarningsAsErrors: '*'
...
